{% extends "layout.html" %}
{% block content %}
    <table class="centered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Parent Category</th>
             <th>Action</th>
        </tr>
        </thead>

          <tbody>
        {% for categoty in data %}
            <tr>
                <td>{{ categoty.id }}</td>
                <td>{{ categoty.category_name}}</td>
                <td>{{ categoty.parent_category }}</td>
                <td style="width: 120px;!important;"><select name="action">
                    <option value="1">Edit</option>
                    <option value="2">Delete</option>
                </select>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/><br/>
        <a id="add_category" class="btn-floating btn-large waves-effect waves-light red right" style="margin-top: -20px;"><i
            class="material-icons">
        add</i></a>

{% endblock %}