{% extends "layout.html" %}
{% block content %}
    <table class="centered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Customer</th>
            <th>order</th>
            <th>Status</th>
            <th>Address</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>
        {% for order in data %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.product }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.price }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/><br/>
{% endblock %}