{% extends "layout.html" %}
{% block content %}
    <table class="centered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Data Added</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        {% for product in data %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.product_name}}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.date_added }}</td>
                <td>{{ product.status}}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/><br/>
{% endblock %}