{% extends "layout.html" %}
{% block content %}
    <table class="centered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Role</th>
        </tr>
        </thead>

        <tbody>
        {% for user in data %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.phone }}</td>
                <td>{% if user.role==1 %}
                    Admin
                {% else %}
                    Customer
                {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/><br/>
{% endblock %}